.artist-img-td {
    width: 200px !important;
}

.artist-img {
    max-height: 50vh !important;
    width: 100px !important;
    display: block !important;
    margin: 2px !important;
}

.ui-widget-content a.ui-link.ui-widget.artist-link {
    color: #fff;
}

.artist-table {
    border-color: #EAEAEA !important;
    min-width: 120px !important;
    max-width: 120px !important;
}